* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    overflow: hidden;
    --sidebar-size: 256px;
    --header-size: calc(100% - var(--sidebar-size));
    --greyscale-50: #FAFAFA;
    --greyscale-100: #F9FAFB;
    --greyscale-300: #EEEFF2;
    --greyscale-500: #A0AEC0;
    --greyscale-900: #111827;

}